@import 'flat-ui-theme';

header {
  display: flex;
  align-items: center;
  padding: 6px 24px;

  > div {
    flex: 1;
  }
}

h1 {
  font-family: Lobster, Helvetica, sans-serif;
}

#format-list {
  text-align: center;

  label {
    margin-right: 9px;
    font-size: 16px;
  }
}

#about {
  text-align: right;

  a, a:hover {
    text-decoration: none;
    color: $palette-peter-river;
    font-size: 16px;

    .fa {
      font-size: 150%;
      position: relative;
      top: 3px;
    }
  }
}

.color-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.color {
  display: block;
  font-family: Lobster, Helvetica, sans-serif;
  flex: 0 0 20%;
  height: 164px;

  .color-inner {
    padding: 16px;
    font-size: 1.5vw;
    color: white;
  }
}

@media (max-width: 767px) {
  .color {
    .color-inner {
      font-size: 2.5vw;
    }
  }
}
